<div class='container-fluid'>
  <div class='row-fluid'>
    <%= render '/admin/robots/nav_list'%>
    <div class='span9'>
      <%= form_tag '/admin/change_password', :method=>'post', :class=>'well form-horizontal' do %>
        <h3>Change password</h3>
        <br/>
        <div class='control-group'>
          <label class='control-label'>Old Password:</label>
          <div class='controls'>
            <%= text_field_tag 'old_password','' ,:class=>'input-xlarge'%>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label'>New Password:</label>
          <div class='controls'>
            <%= text_field_tag 'password','' ,:class=>'input-xlarge'%>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label'>Confirm Password:</label>
          <div class='controls'>
            <%= text_field_tag 'password_confirmation','' ,:class=>'input-xlarge'%>
          </div>
        </div>
        <div class='form-actions'>
          <button type='submit' class='btn btn-primary' style='width:285px;height:35px;'>Submit</button>
        </div>

      <% end %>
    </div>
  </div>
</div>

